.fish-card > img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  margin: 0px 25px 50px 50px;
  margin-bottom: 50px;
  margin-right: 25px;
}

.fish-card {
  display: flex;
  border-bottom: 2px solid black;
  margin: 50px;
}

.details-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--second-font);
  margin-bottom: 50px;
}
.names h3:nth-child(1) {
  margin-top: 0;
}

.go-btn {
  background-color: var(--main-color) !important;
  background-color: white;
  border: none;
  width: 65px;
  height: 45px;
  margin-right: 20px;
  border-radius: 10px;
  color: white;
}

.fav-btn {
  color: gray;
  background-color: white;
  border: 1px solid black;
  width: 65px;
  height: 45px;
  margin-right: 20px;
  border-radius: 10px;
}


