.mobile-filter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-width: fit-content;
  padding: 20px;
  width: 20%;
  height: fit-content;
  background-color: var(--gray);
  border-radius: 30px;
  position: sticky;
  top: 0;
}

.filter label {
  margin-bottom: 15px;
  width: 90%;
}

.filter h2 {
  margin-top: 10px;
  font-family: var(--second-font);
  font-weight: 100 !important;
  align-self: center;
  text-align: center;
  width: 95%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

label {
  font-family: var(--main-font);
  font-size: 1.1rem;
}
