.mobile-filter-container {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.mobile-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: var(--gray);
}

.mobile-filter label {
  margin-bottom: 15px;
  width: 90%;
}

.mobile-filter h2 {
  margin-top: 10px;
  font-family: var(--second-font);
  font-weight: 100 !important;
  align-self: center;
  text-align: center;
  width: 95%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.filter-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  background-color: var(--gray);
}

.filter-nav button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
  width: 45%;
  padding: 20px 10px;
  font-family: var(--main-font);
  font-size: 1.3rem;
  cursor: pointer;
}

label {
  font-family: var(--main-font);
  font-size: 1.1rem;
}
