.search-bar {
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
}

.search-bar > input {
  font-family: var(--main-font);
  font-size: 1.2rem;
  height: 45px;
  width: 100%;
  min-width: 300px;
  border-radius: 50px;
  border: none;
}

.search-bar input[type="text"] {
  padding-left: 25px;
}

.search-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.search-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}