.search-bar {
  background-color: var(--main-color);
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.search-bar > input {
  font-family: var(--main-font);
  font-size: 1.2rem;
  height: 45px;
  width: 100%;
  min-width: 300px;
  border-radius: 50px;
  border: none;
}

.search-bar input[type="text"] {
  padding-left: 25px; /* Move the placeholder text 15px from the left */
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 0px 15px;
  min-width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
}